<html>

<body>
Got something to say?

<form action="/create-message" method="post">
    <input type="text" name="usermessage" placeholder="Type your message here:">
    <br>
    <button type="submit">Submit</button>
</form>
<br>

Select the number of the message you would like to delete:
<form action="/delete-message" method="post">
    <input type="number" name="deleteid" placeholder="#"/>
    <br>
    <button type="submit">Delete</button>
</form>

<br>
Need to edit a message?
<br>
Select the number below:
<form action="/edit-message" method="post">
    <input type="number" name="editid" placeholder="#"/>
    <br>
    <button type="submit">Edit</button>

</form>
Messages from:
    {{username}}
<ol>
    {{#messages}}
    <li>{{text}}</li>
    {{/messages}}
</ol>


</body>
</html>